/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    width: 100%;
    position: relative;

    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: #4f5d67;
    background-color: #243441;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    overflow-x: hidden;
    margin-left: 5%;
}

#particles-js {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.heading h1 {
    font-family: "Lobster Two", cursive;
    font-size: 10rem;
    color: #243441;
    text-shadow: 1px 1px 8px #0a1014, -1px -1px 8px #4f5d67;
}

.heading span {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.heading a {
    color: #4f5d67;
    text-decoration: underline;
}

.heading ul {
    display: block;
    margin-top: 2rem;
    text-align: left;
}

.heading ul li {
    padding: 0.25rem;
}

.heading .back {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 1px 1px 8px #0a1014, -1px -1px 8px #4f5d67;
}

.heading .back:hover {
    box-shadow: 1px 1px 8px #0a1014 inset, -1px -1px 8px #4f5d67 inset;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social span {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: normal;
    font-size: 1.5rem;
    color: #4f5d67;

    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #243441;

    box-shadow: 1px 1px 8px #0a1014, -1px -1px 8px #4f5d67;
}

.social span:hover {
    box-shadow: 1px 1px 8px #0a1014 inset, -1px -1px 8px #4f5d67 inset;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) and (orientation: portrait) {
    body.projects {
        margin-left: 10%;
    }

    .heading {
        width: 90%;
    }

    .heading h1 {
        font-size: 5rem;
        text-align: left;
    }

    .heading span {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        text-align: left;
        width: 100%;
    }
}
