.banner {
  min-height: 100vh;
  padding: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1200px) {
    min-height: 0;
    padding: 40% 20% 15rem 20%;
  }

  @media (max-width: 767px) {
    padding: 40% 0 15rem 0;
  }

  span {
    font-family: "Shadows Into", sans-serif;
    font-weight: 700;
    position: absolute;
    top: -3.5em;
    left: -1.5em;
    transform: rotate(-10deg);
    font-size: 1.25em;
    color: red;
    letter-spacing: 0.2em;
    // text-transform: uppercase;

    @media (max-width: 767px) {
      left: 0;
      transform: unset;
    }
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 1.25rem;
  }

  p {
    width: 75%;
    margin-bottom: 1.25rem;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
