.layout {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.aside {
  @media (max-width: 767px) {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }
}

.article {
  padding: 0 5vw;
}
